.dropdown-panel {
  position: absolute; /* 1. "Trôi" ra khỏi luồng trang */
  top: calc(100% + 8px); /* 2. Nằm dưới cha, cách cha 8px */
  /* left: 0;            3. Căn trái với cha */

  /* === Styling === */
  background-color: white;
  width: 340px; /* Chiều rộng cố định */
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: #333;
  z-index: 100;
}

.dropdown-select-list1 {
  display: flex;
  gap: 15px;
}

.select-loc {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; /* Tạo khoảng cách giữa các ô chọn */
  border: 1px solid #9c6ade;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
  color: black;
  outline: none !important; /* Loại bỏ viền mặc định khi nhấn */
}

.select-loc1 {
  padding: 10px;
  border: 1px solid #9c6ade;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
  color: black;
  outline: none !important; /* Loại bỏ viền mặc định khi nhấn */
  flex: 1;
}

/* option {
  color: 9c6ade;

} */

/* option:hover {
 border-radius: 5px;
 color: violet;
} */

.btn-apply {
  width: 100%;
  padding: 12px;
  background-color: #9c6ade;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  outline: none !important; /* Loại bỏ viền mặc định khi nhấn */
}

.section-khuvuc {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-khuvuc i {
  font-size: 24px;
}


