USE [DBLuanVan]
GO
/****** Object:  Table [dbo].[Anh_Phong_Tro]    Script Date: 19/01/2026 16:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anh_Phong_Tro](
	[AnhID] [int] IDENTITY(1,1) NOT NULL,
	[URL] [nvarchar](255) NULL,
	[BaiDangID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bai_Dang]    Script Date: 19/01/2026 16:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bai_Dang](
	[BaiDangID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[TieuDe] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[PhuongXa] [nvarchar](100) NULL,
	[SoNha] [nvarchar](100) NULL,
	[SoLuongPhong] [int] NULL,
	[TrangThaiTin] [nvarchar](50) NULL,
	[NgayDang] [datetime] NULL,
	[TinhThanh] [nvarchar](100) NULL,
	[GiaThueBaiDang] [decimal](18, 2) NULL,
	[NgayHetHan] [datetime] NULL,
	[TongSoSao] [int] NOT NULL,
	[TongLuotDanhGia] [int] NOT NULL,
 CONSTRAINT [PK__Bai_Dang__24EA7A33435B4581] PRIMARY KEY CLUSTERED 
(
	[BaiDangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiDang_TienIch]    Script Date: 19/01/2026 16:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiDang_TienIch](
	[BaiDangID] [int] NOT NULL,
	[TienIchID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BaiDangID] ASC,
	[TienIchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_Gia]    Script Date: 19/01/2026 16:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_Gia](
	[DanhGiaID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Sao] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[NgayComment] [date] NULL,
	[BaiDangID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DanhGiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hop_Dong]    Script Date: 19/01/2026 16:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hop_Dong](
	[HopDongID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[PhongTroID] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TrangThaiHopDong] [nvarchar](50) NULL,
	[NoiDungHopDong] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hop_Dong_Mau]    Script Date: 19/01/2026 16:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hop_Dong_Mau](
	[BaiDangID] [int] NOT NULL,
	[FilePDF] [nvarchar](500) NOT NULL,
	[NgayTao] [datetime] NULL,
	[HopDongMauID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Hop_Dong_Mau] PRIMARY KEY CLUSTERED 
(
	[HopDongMauID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lien_He]    Script Date: 19/01/2026 16:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lien_He](
	[LienHeID] [int] IDENTITY(1,1) NOT NULL,
	[BaiDangID] [int] NULL,
	[UserID] [int] NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[NgayLienHe] [date] NULL,
	[NoiDung] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LienHeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ly_Do_Tu_Choi]    Script Date: 19/01/2026 16:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ly_Do_Tu_Choi](
	[LyDoTuChoiID] [int] IDENTITY(1,1) NOT NULL,
	[BaiDangID] [int] NOT NULL,
	[NoiDung] [nvarchar](500) NOT NULL,
	[NgayTuChoi] [datetime] NULL,
	[NguoiTuChoi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LyDoTuChoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi_Dung]    Script Date: 19/01/2026 16:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_Dung](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[CCCD] [nvarchar](20) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Role] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayTaoTaiKhoan] [datetime] NOT NULL,
 CONSTRAINT [PK__Nguoi_Du__1788CCAC95F320BA] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong_Tro]    Script Date: 19/01/2026 16:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong_Tro](
	[PhongTroID] [int] IDENTITY(1,1) NOT NULL,
	[BaiDangID] [int] NULL,
	[TenPhong] [nvarchar](100) NULL,
	[DienTich] [float] NULL,
	[GiaThue] [decimal](18, 0) NULL,
	[SoNguoi] [int] NULL,
	[SoLuongPhong] [int] NULL,
	[TrangThaiPhong] [nvarchar](50) NULL,
 CONSTRAINT [PK__Phong_Tr__5DB880B55C15384D] PRIMARY KEY CLUSTERED 
(
	[PhongTroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tien_Ich]    Script Date: 19/01/2026 16:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tien_Ich](
	[TienIchID] [int] IDENTITY(1,1) NOT NULL,
	[TenTienIch] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TienIchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tu_Cam]    Script Date: 19/01/2026 16:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tu_Cam](
	[TuCamID] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TuCamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thanh_Toan]    Script Date: 19/01/2026 16:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thanh_Toan](
	[ThanhToanID] [int] IDENTITY(1,1) NOT NULL,
	[SoTien] [decimal](18, 2) NULL,
	[PhuongThuc] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaGiaoDich] [nvarchar](100) NULL,
	[UserID] [int] NULL,
	[BaiDangID] [int] NULL,
	[NgayThanhToan] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThanhToanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Anh_Phong_Tro] ON 

INSERT [dbo].[Anh_Phong_Tro] ([AnhID], [URL], [BaiDangID]) VALUES (1085, N'/assets/phongtro/02a8edff-e1ce-4bac-afa6-c4a6c3175988.jpg', 2078)
INSERT [dbo].[Anh_Phong_Tro] ([AnhID], [URL], [BaiDangID]) VALUES (1086, N'/assets/phongtro/c64da609-bd2a-4ef7-8d69-17a29d586ad3.jpg', 2078)
INSERT [dbo].[Anh_Phong_Tro] ([AnhID], [URL], [BaiDangID]) VALUES (1087, N'/assets/phongtro/ab0fbf1c-40d0-40a5-8089-49ff1a891a69.jpg', 2078)
GO
SET IDENTITY_INSERT [dbo].[Anh_Phong_Tro] OFF
GO
SET IDENTITY_INSERT [dbo].[Bai_Dang] ON 

INSERT [dbo].[Bai_Dang] ([BaiDangID], [UserID], [TieuDe], [MoTa], [QuanHuyen], [PhuongXa], [SoNha], [SoLuongPhong], [TrangThaiTin], [NgayDang], [TinhThanh], [GiaThueBaiDang], [NgayHetHan], [TongSoSao], [TongLuotDanhGia]) VALUES (2080, 20, N'Phòng trọ cao cấp, full nội thất', N'Phòng trọ mới xây 100%, thiết kế hiện đại, có gác lửng. Khu bếp riêng, chỗ để xe rộng rãi, camera an ninh 24/7. Gần chợ, siêu thị, trường học, thuận tiện di chuyển.', N'776', N'27409', NULL, 3, N'Chờ duyệt', CAST(N'2025-12-29T00:00:00.000' AS DateTime), N'79', CAST(1500000.00 AS Decimal(18, 2)), NULL, 0, 0)
INSERT [dbo].[Bai_Dang] ([BaiDangID], [UserID], [TieuDe], [MoTa], [QuanHuyen], [PhuongXa], [SoNha], [SoLuongPhong], [TrangThaiTin], [NgayDang], [TinhThanh], [GiaThueBaiDang], [NgayHetHan], [TongSoSao], [TongLuotDanhGia]) VALUES (2103, 20, N'Cho thuê phòng trọ cao cấp tại 64 Trương Văn Bang - Bình Trưng Tây', N'Cho thuê phòng đẹp, giá rẻ, an ninh tốt tại Bình Trưng Tây, Quận 2

Diện tích: 18-30m2. 

Phòng mới xây, cao cấp như khách sạn, đầy đủ nội thất (giường, tủ), vệ sinh khép kín, có máy lạnh, nước nóng năng lượng mặt trời, nhà để xe.

Khu an ninh, yên tĩnh, thoáng mát, cách Quận 1 chỉ 10 phút đi xe máy.

Có thang máy

Giá: từ 3.3 triệu/tháng - 3.8 triệu/tháng

Điạ chỉ: 64 Trương Văn Bang - Bình Trưng Tây - Quận 2 (cạnh cầu Giồng Ông Tố 2)

Liên hệ: 0943773920 (A.Hùng).', N'769', N'27100', N'64 Trương Văn Bang', 1, N'Chờ duyệt', CAST(N'2026-01-10T23:35:19.253' AS DateTime), N'79', CAST(3000000.00 AS Decimal(18, 2)), CAST(N'2026-03-10T23:36:45.907' AS DateTime), 0, 0)
INSERT [dbo].[Bai_Dang] ([BaiDangID], [UserID], [TieuDe], [MoTa], [QuanHuyen], [PhuongXa], [SoNha], [SoLuongPhong], [TrangThaiTin], [NgayDang], [TinhThanh], [GiaThueBaiDang], [NgayHetHan], [TongSoSao], [TongLuotDanhGia]) VALUES (2105, 20, N'88n 99999999999999999999 9999999999999999 ', N'ALTER TABLE Thanh_Toan
DROP CONSTRAINT FK__Thanh_Toa__HopDo__4F7CD00D;

ALTER TABLE Thanh_Toan
DROP COLUMN HopDongID;

ALTER TABLE Thanh_Toan
ADD UserID INT,
    BaiDangID INT;

ALTER TABLE Thanh_Toan
ADD CONSTRAINT FK_ThanhToan_NguoiDung
FOREIGN KEY (UserID)
REFERENCES Nguoi_Dung(UserID);

ALTER TABLE Thanh_Toan
ADD CONSTRAINT FK_ThanhToan_BaiDang
FOREIGN KEY (BaiDangID)
REFERENCES Bai_Dang(BaiDangID);
', N'024', N'00691', NULL, 1, N'Chưa thanh toán', CAST(N'2026-01-11T23:04:31.313' AS DateTime), N'02', CAST(1.00 AS Decimal(18, 2)), CAST(N'2026-01-18T23:59:38.423' AS DateTime), 0, 0)
INSERT [dbo].[Bai_Dang] ([BaiDangID], [UserID], [TieuDe], [MoTa], [QuanHuyen], [PhuongXa], [SoNha], [SoLuongPhong], [TrangThaiTin], [NgayDang], [TinhThanh], [GiaThueBaiDang], [NgayHetHan], [TongSoSao], [TongLuotDanhGia]) VALUES (2129, 24, N'showthongbao("Vui lòng nhập số nguyên cho số người (không nhập số lẻ)!", "error");
      return; // Dừng lại, không gửi API', N'showthongbao("Vui lòng nhập số nguyên cho số người (không nhập số lẻ)!", "error");
      return; // Dừng lại, không gửi API', N'042', N'01312', NULL, 1, N'Đang đăng', CAST(N'2026-01-17T00:13:05.113' AS DateTime), N'04', CAST(111.00 AS Decimal(18, 2)), CAST(N'2026-02-01T23:02:27.673' AS DateTime), 5, 1)
INSERT [dbo].[Bai_Dang] ([BaiDangID], [UserID], [TieuDe], [MoTa], [QuanHuyen], [PhuongXa], [SoNha], [SoLuongPhong], [TrangThaiTin], [NgayDang], [TinhThanh], [GiaThueBaiDang], [NgayHetHan], [TongSoSao], [TongLuotDanhGia]) VALUES (2130, 24, N'showthongbao("Vui lòng nhập số nguyên cho số người (không nhập số lẻ)!", "error");
      return; // Dừng lại, không gửi API', N'showthongbao("Vui lòng nhập số nguyên cho số người (không nhập số lẻ)!", "error");
      return; // Dừng lại, không gửi API', N'042', N'01312', NULL, 1, N'Chờ duyệt', CAST(N'2026-01-17T00:15:56.397' AS DateTime), N'04', CAST(111.00 AS Decimal(18, 2)), NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Bai_Dang] OFF
GO
SET IDENTITY_INSERT [dbo].[Danh_Gia] ON 

INSERT [dbo].[Danh_Gia] ([DanhGiaID], [UserID], [Sao], [Comment], [NgayComment], [BaiDangID]) VALUES (8, 20, 0, N'***', CAST(N'2025-12-30' AS Date), 2078)
INSERT [dbo].[Danh_Gia] ([DanhGiaID], [UserID], [Sao], [Comment], [NgayComment], [BaiDangID]) VALUES (9, 20, 0, N'hello', CAST(N'2025-12-31' AS Date), 2078)
INSERT [dbo].[Danh_Gia] ([DanhGiaID], [UserID], [Sao], [Comment], [NgayComment], [BaiDangID]) VALUES (10, 20, 0, N'trọ xấu ', CAST(N'2026-01-01' AS Date), 2083)
SET IDENTITY_INSERT [dbo].[Danh_Gia] OFF
GO
SET IDENTITY_INSERT [dbo].[Hop_Dong] ON 

INSERT [dbo].[Hop_Dong] ([HopDongID], [UserID], [PhongTroID], [NgayBatDau], [NgayKetThuc], [TrangThaiHopDong], [NoiDungHopDong]) VALUES (6, 21, 2186, CAST(N'2026-01-13' AS Date), CAST(N'2026-01-16' AS Date), N'Đang hiệu lực', N'/assets/hopdong/HD_2186_661b6877-89d6-4285-b29f-3c54edd2e992.pdf')
INSERT [dbo].[Hop_Dong] ([HopDongID], [UserID], [PhongTroID], [NgayBatDau], [NgayKetThuc], [TrangThaiHopDong], [NoiDungHopDong]) VALUES (7, 21, 2185, CAST(N'2026-01-14' AS Date), CAST(N'2026-01-18' AS Date), N'Đang hiệu lực', N'/assets/hopdong/HD_2185_dcd780cb-b44c-45dd-aa41-6ed203dbf05f.pdf')
INSERT [dbo].[Hop_Dong] ([HopDongID], [UserID], [PhongTroID], [NgayBatDau], [NgayKetThuc], [TrangThaiHopDong], [NoiDungHopDong]) VALUES (8, 21, 2174, CAST(N'2026-01-13' AS Date), CAST(N'2026-01-17' AS Date), N'Đang hiệu lực', N'/assets/hopdong/HD_2174_74afbfb9-eabd-435c-bf44-6c2358e707a3.pdf')
SET IDENTITY_INSERT [dbo].[Hop_Dong] OFF
GO
SET IDENTITY_INSERT [dbo].[Hop_Dong_Mau] ON 

INSERT [dbo].[Hop_Dong_Mau] ([BaiDangID], [FilePDF], [NgayTao], [HopDongMauID]) VALUES (2097, N'/assets/hopdong/hopdong_05417ad1-7113-4ed4-9d74-37fd6c33423c.pdf', CAST(N'2026-01-02T23:37:16.470' AS DateTime), 1)
INSERT [dbo].[Hop_Dong_Mau] ([BaiDangID], [FilePDF], [NgayTao], [HopDongMauID]) VALUES (2098, N'/assets/hopdong/hopdong_975448b0-22da-4e84-bf0f-cefde2c853b1.pdf', CAST(N'2026-01-04T22:44:24.253' AS DateTime), 2)
INSERT [dbo].[Hop_Dong_Mau] ([BaiDangID], [FilePDF], [NgayTao], [HopDongMauID]) VALUES (2099, N'/assets/hopdong/hopdong_5f7694ac-6379-4bd1-8418-a3418c8ff13e.pdf', CAST(N'2026-01-04T23:03:23.740' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Hop_Dong_Mau] OFF
GO
SET IDENTITY_INSERT [dbo].[Ly_Do_Tu_Choi] ON 

INSERT [dbo].[Ly_Do_Tu_Choi] ([LyDoTuChoiID], [BaiDangID], [NoiDung], [NgayTuChoi], [NguoiTuChoi]) VALUES (1, 2116, N'mờ', CAST(N'2026-01-16T22:33:31.580' AS DateTime), N'Admin')
SET IDENTITY_INSERT [dbo].[Ly_Do_Tu_Choi] OFF
GO
SET IDENTITY_INSERT [dbo].[Nguoi_Dung] ON 

INSERT [dbo].[Nguoi_Dung] ([UserID], [HoTen], [Email], [SDT], [MatKhau], [DiaChi], [CCCD], [Avatar], [Role], [TrangThai], [NgayTaoTaiKhoan]) VALUES (19, N'Khánh Hòa', N'kh@gmail.com', N'1111111111999', N'$2a$11$KbImWKq8842yHhhK6HV2j.Pg0HQTcMl3hqApu/jHBXbDD3vkU8b6q', N'mỹ lộc', N'0000000000', N'', N'nguoithue', N'Hoạt Động', CAST(N'2026-01-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Nguoi_Dung] ([UserID], [HoTen], [Email], [SDT], [MatKhau], [DiaChi], [CCCD], [Avatar], [Role], [TrangThai], [NgayTaoTaiKhoan]) VALUES (20, N'Minh Tú', N'minhtutran888@gmail.com', N'0345149721', N'$2a$11$MdX5beOW5z8ppsSPjeWTf.sIm/53D/eMGrde03RUPaNk5RxrQ.AQe', N'mỹ lộc', N'0000000000', N'/assets/avatar/8bada7a8-60cd-4e63-bbaa-0658730094e1.jpg', N'chutro', N'Hoạt Động', CAST(N'2026-01-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Nguoi_Dung] ([UserID], [HoTen], [Email], [SDT], [MatKhau], [DiaChi], [CCCD], [Avatar], [Role], [TrangThai], [NgayTaoTaiKhoan]) VALUES (21, N'Khánh Hòa', N'doanweb.3010@gmail.com', N'1234567890', N'$2a$11$7nHq2LLkgXBudQ27LRfsduV5HJPq/u481brOZgHkylm/t2QuWhboK', N'', N'', N'', N'nguoithue', N'Hoạt Động', CAST(N'2026-01-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Nguoi_Dung] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong_Tro] ON 

INSERT [dbo].[Phong_Tro] ([PhongTroID], [BaiDangID], [TenPhong], [DienTich], [GiaThue], [SoNguoi], [SoLuongPhong], [TrangThaiPhong]) VALUES (2119, 2078, N'P.1', 12, CAST(3000000 AS Decimal(18, 0)), 5, NULL, N'Còn trống')
INSERT [dbo].[Phong_Tro] ([PhongTroID], [BaiDangID], [TenPhong], [DienTich], [GiaThue], [SoNguoi], [SoLuongPhong], [TrangThaiPhong]) VALUES (2120, 2078, N'P.2', 12, CAST(3000000 AS Decimal(18, 0)), 5, NULL, N'Còn trống')
INSERT [dbo].[Phong_Tro] ([PhongTroID], [BaiDangID], [TenPhong], [DienTich], [GiaThue], [SoNguoi], [SoLuongPhong], [TrangThaiPhong]) VALUES (2121, 2079, N'P.1', 15, CAST(3500000 AS Decimal(18, 0)), 4, NULL, N'Còn trống')
SET IDENTITY_INSERT [dbo].[Phong_Tro] OFF
GO
SET IDENTITY_INSERT [dbo].[Tu_Cam] ON 

INSERT [dbo].[Tu_Cam] ([TuCamID], [NoiDung]) VALUES (6, N'ngu')
INSERT [dbo].[Tu_Cam] ([TuCamID], [NoiDung]) VALUES (8, N'chó')
INSERT [dbo].[Tu_Cam] ([TuCamID], [NoiDung]) VALUES (9, N'cc')
SET IDENTITY_INSERT [dbo].[Tu_Cam] OFF
GO
SET IDENTITY_INSERT [dbo].[Thanh_Toan] ON 

INSERT [dbo].[Thanh_Toan] ([ThanhToanID], [SoTien], [PhuongThuc], [TrangThai], [MaGiaoDich], [UserID], [BaiDangID], [NgayThanhToan]) VALUES (47, CAST(40000.00 AS Decimal(18, 2)), N'Vnpay', N'Thành công', N'2078_639026455039249505', 20, 2078, CAST(N'2025-12-29T23:52:09.683' AS DateTime))
INSERT [dbo].[Thanh_Toan] ([ThanhToanID], [SoTien], [PhuongThuc], [TrangThai], [MaGiaoDich], [UserID], [BaiDangID], [NgayThanhToan]) VALUES (48, CAST(40000.00 AS Decimal(18, 2)), N'Vnpay', N'Thành công', N'2078_639026455039249505', 20, 2078, CAST(N'2025-12-29T23:52:09.683' AS DateTime))
INSERT [dbo].[Thanh_Toan] ([ThanhToanID], [SoTien], [PhuongThuc], [TrangThai], [MaGiaoDich], [UserID], [BaiDangID], [NgayThanhToan]) VALUES (49, CAST(100000.00 AS Decimal(18, 2)), N'Vnpay', N'Thành công', N'2079_639026456758419575', 20, 2079, CAST(N'2025-12-29T23:52:09.683' AS DateTime))
SET IDENTITY_INSERT [dbo].[Thanh_Toan] OFF
GO
/****** Object:  Index [UQ_HopDongMau_BaiDang]    Script Date: 19/01/2026 16:21:58 ******/
ALTER TABLE [dbo].[Hop_Dong_Mau] ADD  CONSTRAINT [UQ_HopDongMau_BaiDang] UNIQUE NONCLUSTERED 
(
	[BaiDangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bai_Dang] ADD  DEFAULT ((0)) FOR [TongSoSao]
GO
ALTER TABLE [dbo].[Bai_Dang] ADD  DEFAULT ((0)) FOR [TongLuotDanhGia]
GO
ALTER TABLE [dbo].[Hop_Dong_Mau] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Ly_Do_Tu_Choi] ADD  DEFAULT (getdate()) FOR [NgayTuChoi]
GO
ALTER TABLE [dbo].[Nguoi_Dung] ADD  CONSTRAINT [DF__Nguoi_Dun__NgayT__245D67DE]  DEFAULT (getdate()) FOR [NgayTaoTaiKhoan]
GO
ALTER TABLE [dbo].[Thanh_Toan] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[Anh_Phong_Tro]  WITH CHECK ADD  CONSTRAINT [FK_Anh_Phong_Tro_Bai_Dang] FOREIGN KEY([BaiDangID])
REFERENCES [dbo].[Bai_Dang] ([BaiDangID])
GO
ALTER TABLE [dbo].[Anh_Phong_Tro] CHECK CONSTRAINT [FK_Anh_Phong_Tro_Bai_Dang]
GO
ALTER TABLE [dbo].[Bai_Dang]  WITH CHECK ADD  CONSTRAINT [FK__Bai_Dang__UserID__398D8EEE] FOREIGN KEY([UserID])
REFERENCES [dbo].[Nguoi_Dung] ([UserID])
GO
ALTER TABLE [dbo].[Bai_Dang] CHECK CONSTRAINT [FK__Bai_Dang__UserID__398D8EEE]
GO
ALTER TABLE [dbo].[BaiDang_TienIch]  WITH CHECK ADD  CONSTRAINT [FK__BaiDang_T__BaiDa__440B1D61] FOREIGN KEY([BaiDangID])
REFERENCES [dbo].[Bai_Dang] ([BaiDangID])
GO
ALTER TABLE [dbo].[BaiDang_TienIch] CHECK CONSTRAINT [FK__BaiDang_T__BaiDa__440B1D61]
GO
ALTER TABLE [dbo].[BaiDang_TienIch]  WITH CHECK ADD FOREIGN KEY([TienIchID])
REFERENCES [dbo].[Tien_Ich] ([TienIchID])
GO
ALTER TABLE [dbo].[Danh_Gia]  WITH CHECK ADD  CONSTRAINT [FK__Danh_Gia__UserID__47DBAE45] FOREIGN KEY([UserID])
REFERENCES [dbo].[Nguoi_Dung] ([UserID])
GO
ALTER TABLE [dbo].[Danh_Gia] CHECK CONSTRAINT [FK__Danh_Gia__UserID__47DBAE45]
GO
ALTER TABLE [dbo].[Danh_Gia]  WITH CHECK ADD  CONSTRAINT [FK_Danh_Gia_Bai_Dang] FOREIGN KEY([BaiDangID])
REFERENCES [dbo].[Bai_Dang] ([BaiDangID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Danh_Gia] CHECK CONSTRAINT [FK_Danh_Gia_Bai_Dang]
GO
ALTER TABLE [dbo].[Hop_Dong]  WITH CHECK ADD  CONSTRAINT [FK__Hop_Dong__PhongT__4CA06362] FOREIGN KEY([PhongTroID])
REFERENCES [dbo].[Phong_Tro] ([PhongTroID])
GO
ALTER TABLE [dbo].[Hop_Dong] CHECK CONSTRAINT [FK__Hop_Dong__PhongT__4CA06362]
GO
ALTER TABLE [dbo].[Hop_Dong]  WITH CHECK ADD  CONSTRAINT [FK__Hop_Dong__UserID__4BAC3F29] FOREIGN KEY([UserID])
REFERENCES [dbo].[Nguoi_Dung] ([UserID])
GO
ALTER TABLE [dbo].[Hop_Dong] CHECK CONSTRAINT [FK__Hop_Dong__UserID__4BAC3F29]
GO
ALTER TABLE [dbo].[Hop_Dong_Mau]  WITH CHECK ADD  CONSTRAINT [FK_HopDongMau_BaiDang] FOREIGN KEY([BaiDangID])
REFERENCES [dbo].[Bai_Dang] ([BaiDangID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hop_Dong_Mau] CHECK CONSTRAINT [FK_HopDongMau_BaiDang]
GO
ALTER TABLE [dbo].[Lien_He]  WITH CHECK ADD  CONSTRAINT [FK__Lien_He__BaiDang__5441852A] FOREIGN KEY([BaiDangID])
REFERENCES [dbo].[Bai_Dang] ([BaiDangID])
GO
ALTER TABLE [dbo].[Lien_He] CHECK CONSTRAINT [FK__Lien_He__BaiDang__5441852A]
GO
ALTER TABLE [dbo].[Lien_He]  WITH CHECK ADD  CONSTRAINT [FK__Lien_He__UserID__5535A963] FOREIGN KEY([UserID])
REFERENCES [dbo].[Nguoi_Dung] ([UserID])
GO
ALTER TABLE [dbo].[Lien_He] CHECK CONSTRAINT [FK__Lien_He__UserID__5535A963]
GO
ALTER TABLE [dbo].[Ly_Do_Tu_Choi]  WITH CHECK ADD  CONSTRAINT [FK_LyDoTuChoi_BaiDang] FOREIGN KEY([BaiDangID])
REFERENCES [dbo].[Bai_Dang] ([BaiDangID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ly_Do_Tu_Choi] CHECK CONSTRAINT [FK_LyDoTuChoi_BaiDang]
GO
ALTER TABLE [dbo].[Phong_Tro]  WITH CHECK ADD  CONSTRAINT [FK__Phong_Tro__BaiDa__3C69FB99] FOREIGN KEY([BaiDangID])
REFERENCES [dbo].[Bai_Dang] ([BaiDangID])
GO
ALTER TABLE [dbo].[Phong_Tro] CHECK CONSTRAINT [FK__Phong_Tro__BaiDa__3C69FB99]
GO
ALTER TABLE [dbo].[Thanh_Toan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_BaiDang] FOREIGN KEY([BaiDangID])
REFERENCES [dbo].[Bai_Dang] ([BaiDangID])
GO
ALTER TABLE [dbo].[Thanh_Toan] CHECK CONSTRAINT [FK_ThanhToan_BaiDang]
GO
ALTER TABLE [dbo].[Thanh_Toan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_NguoiDung] FOREIGN KEY([UserID])
REFERENCES [dbo].[Nguoi_Dung] ([UserID])
GO
ALTER TABLE [dbo].[Thanh_Toan] CHECK CONSTRAINT [FK_ThanhToan_NguoiDung]
GO
