.db-thongke {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;

}

.bd-div-thongke {
    background-color: white;
    color: black;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.bd-div-tbd {
    padding: 20px;
    display: grid;
}

.bd-div-tbd i {
    color: #9c6ade;
    font-size: 30px;
}


.bd-div-tbd h3 {
    margin: 10px 0;
    font-size: 30px;
}

.db-ds-thongke {
    background-color: white;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px 20px;
    border-radius: 10px;
    overflow-y: auto;   /* Cho phép cuộn dọc */
}

